@use "../../assets/helper/mixin.scss" as mixin;

.fa-solid {
  font-size: 20px;
  @include mixin.tablet {
    font-size: 24px;
  }
}
.fa-magnifying-glass {
  color: #c4c8cc;
  cursor: pointer;
}
.fa-bell {
  color: #818b9c;
}
.fa-cart-shopping {
  color: #818b9c;
  position: relative;
}
.fa-envelope {
  color: #818b9c;
}
.fa-bars {
  color: mixin.$main-black;
  border-left: 1px solid #e4e9ee;
  padding: 2px 0px 2px 15px;
  cursor: pointer;
}
.faUserHolder {
  padding-left: 20px;
  border-left: 1px solid #e4e9ee;
  cursor: pointer;
  z-index: 5;
  .fa-user {
    color: #818b9c;
    border: 1px solid #e4e9ee;
    padding: 12px;
    border-radius: 50px;
  }
}
